{% extends './base.html' %}

{% load static %}
{% block content %} 
<div>
	<label></label>
</div>

<div class="row">
	<div class="col-sm-4"> 
		<h1 align="center">DASHBOARD</h1>
	</div>
	<div class="col-sm-5"> 
	</div>
	<div class="col-sm-1"> 
		<a class="btn btn-primary" href="{% url 'agregar_pago' %}">Agregar Pago</a>
	</div>
	<div class="col-sm-2"> 
		<a class="btn btn-primary" href="#">Consolidar Deuda</a>
	</div>
</div>
<div>
	<label></label>
</div>
<div class="row">
	<div class="col-sm-1">
	</div> 
	<div class="col-sm-3">
		<h2>Total Pagado</h2>
		{% if pagado %}
		<h3>${{ pagado }}</h3>
		{% else %}
			<h3>$0</h3>
		{% endif %}
	</div>
	<div class="col-sm-3">
		<h2>Total Adeudado</h2>
		{% if deuda %}
		<h3>${{ deuda }}</h3>
		{% else %}
			<h3>$0</h3>
		{% endif %}
	</div>
	<div class="col-sm-3">
		<h2>Pagos Pendientes Aprobar</h2>
	</div>
	<div class="col-sm-1">
	</div> 
</html>

{% endblock %}