{% extends '../base_login.html' %}
	{% block content %}
	<div class="row">
		<div class="col-sm-4">
		</div> 
		<div class="col-sm-4">
		
	    	<h1>Login</h1>
	    	{% if form.errors %}
	    	<p>Tu nombre de usuario y contraseña no coincide. Por favor intente de nuevo.</p>
	    	{% endif %}
	    	{% if next %}
	    	    {% if user.is_authenticated %}
	    	    	<p>Tu cuenta no tiene acceso a esta página. Para proceder,
	    	    	por favor inicie sesión con una cuenta que tenga acceso.</p>
	    	    {% else %}
	    	    	<p>Por favor inicie sesión para ver esta página.</p>
	    	    {% endif %}
	    	{% endif %}

	    	<form method="post" action="{% url 'login' %}">
	    		{% csrf_token %}
	    	<div class="login-content">
	    	    <form action="index.html" method="GET" class="margin-bottom-0">
	    	        <div class="form-group m-b-20">
	    	            <input type="text" class="form-control form-control-lg" placeholder="Nombre de Usuario" name="username" />
	    	            
	    	        </div>
	    	        <div class="form-group m-b-20">
	    	            <input type="password" class="form-control form-control-lg" placeholder="Contraseña" name="password" />
	    	            
	    	        </div>
	    		        <div class="login-buttons">
	       	         <button type="submit" class="btn btn-success btn-block btn-lg">Entrar</button>
	       	         <input type="hidden" name="next" value="{{ next }}" />
	       	     </div>
	        	</form>
	    	</div>
	    	</form>
	    </div> 
	    <div class="col-sm-4">
		</div>
	</div>
	{% endblock %}