{% extends './base.html' %}

{% load static %}
{% block content %} 
<div>
	<label></label>
</div>

<div class="row">
	<div class="col-sm-1"> 
	</div>
	<div class="col-sm-10"> 
		<div class="row">
			<div class="col-sm-12"> 
				<form method='POST'>
					
					{% csrf_token %}
					{{ pago_form.as_p }}
					<button type="submit" class="btn btn-primary">Agregar Pago</button>
				</form>
		</div>
	</div>
	<div class="col-sm-1"> 
	</div>

{% endblock %}