{% extends './base.html' %}

{% load static %}
{% block content %} 

<div>
	<label></label>
</div>

<div class="row">
	<div class="col-sm-1"> 
	</div>
	<div class="col-sm-10"> 
		<h1>Mis Deudas</h1>
	<table class="table table-bordered" border=1>
		<thead>
			<tr>
				<td align="center">Producto</td>
				<td align="center">Monto</td>
				<td align="center">Categoria</td>
				<td align="center">Pagador</td>
				<td align="center">Accion</td>
			</tr>
		</thead>
		<tbody>
			{% if deudas %}
			{% for deuda in deudas %}
			<tr>
				<td align="center">{{ deuda.producto }}</td>
				<td align="center">{{ deuda.monto }}</td>
				<td align="center">{{ deuda.categoria }}</td>
				<td align="center">{{ deuda.pagador }}</td>
				<td align="center"><a href="{% url 'pagar_deuda' %}">Pagar</a></td>
			</tr>
			{% endfor %}
			
			{% else %}
			<h1>No hay deudas.</h1>

			{% endif %}
		</tbody>
	</table>
	</div>
</div>


{% endblock %}