{% extends './base.html' %}

{% load static %}
{% block content %} 
<div>
	<label></label>
</div>

<div class="row">
	<div class="col-sm-4"> 
		<h1 align="center">MIS PAGOS</h1>
	</div>
	<div class="col-sm-6"> 
	</div>
	<div class="col-sm-2"> 
		<a class="btn btn-primary" href="{% url 'agregar_pago' %}">Agregar Pago</a>
	</div>
</div>
<div>
	<label></label>
</div>
<div class="row">
	<div class="col-sm-1">
	</div> 
	<div class="col-sm-10">
	<table class="table table-bordered" border=1>
		<thead>
			<tr>
				<td align="center"><b>Producto</b></td>
				<td align="center"><b>Monto</b></td>
				<td align="center"><b>Categoria</b></td>
				<td align="center"><b>Deudor</b></td>
				<td align="center"><b>Fecha</b></td>
			</tr>
		</thead>
		<tbody>
			{% if pagos %}
			{% for pago in pagos %}
			<tr>
				<td align="center">{{ pago.producto }}</td>
				<td align="center">{{ pago.monto }}</td>
				<td align="center">{{ pago.categoria }}</td>
				<td align="center">{{ pago.deudor }}</td>
				<td align="center">{{ pago.fecha }}</td>
			</tr>
			{% endfor %}
			
			{% else %}
			<h3>No hay pagos.</h3>
			{% endif %}

		</tbody>
	</table>
	</div>
	<div class="col-sm-1">
	</div> 
</html>

{% endblock %}