{% extends './base.html' %}

{% load static %}
{% block content %} 
<div>
	<label></label>
</div>
<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-11"> 
		<h1>Pagar Deuda</h1>
	</div>
</div>
<div>
	<label></label>
</div>
<div class="row">
	<div class="col-sm-1"> 
	</div>
	<div class="col-sm-7"> 
		
		<p>Vas a pagar {{deuda.monto}}</p>

		<form method='POST'>
			{% csrf_token %}
			{{ pago_deuda_form.as_p }}
			<button type="submit">Pagar Deuda</button>
		</form>
	</div>
	<div class="col-sm-4"> 
		<p>Numero de Cuenta:</p>
		<p>Banco:</p>
		<p>Tipo Cuenta:</p>
		<p>RUT:</p>
	</div>
</div>
{% endblock %}